# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Git
.git/
.gitignore

# DVC cache
.dvc/cache/
.dvc/tmp/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Logs
*.log

# Tests
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Data (mounted as volumes)
data/raw/