# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/
*.ipynb_checkpoints

# Git
.git/
.gitignore

# DVC
.dvc/cache/
.dvc/tmp/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Logs
*.log

# Documentation
README.md
docs/

# Tests
tests/
*.pytest_cache